<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Editar Personas</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/style2.css}" />
</head>
<body>

	<div class="container">
	<div class="row vh-100 justify-content-center align-items-center box">
	<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card ">
	<br>
		<h1 class="text-center">Edición de persona</h1>
		<div class="card-body">
		<form th:action="@{/personas/{id}(id=${personas.id})}" th:object="${personas}" method="POST">
			<div class="form-group">
				<label>Nombre: </label>
				<input type="text" name="nombre" th:field="*{nombre}" class="form-control" placeholder="Escriba su nombre :" required>
			</div>
			<div class="form-group">
				<label>Apellido: </label>
				<input type="text" name="apellido" th:field="*{apellido}" class="form-control" placeholder="Escriba su apellido :" required>
			</div>
			<div class="form-group">
				<label>email: </label>
				<div class="input-group mb-3">
				 <span class="input-group-text" id="basic-addon1">@</span>
				<input type="text" name="email" th:field="*{email}" class="form-control" placeholder="Escriba su email :" required>
			</div>
			</div>
			<div class="box-footer">
				<button class="btn btn-success">Guardar</button>
				<a th:href="@{/personas}" class="btn btn-info">Atras</a>
			</div>
		</form>
		</div>
	</div>
	</div>
	</div>
</body>
</html>